body{
	font-family: "Quicksand" sans-serif;
	box-sizing: border-box;
}
.block{
	background: #fff;
	border: 1px solid orange;
}
img{
	max-width: 100%;
	height: auto;
}
nav{
	padding: 10px 20px;
	margin:  10px 20px;
}
nav ul{
	padding: 10px 20px;
	margin:  10px 20px;
}
nav ul li{
	list-style: none;
	padding: 10px 20px;
	margin: 20px;
	text-transform: uppercase;
	text-decoration: none;
}
.heder-menu{
	background: #E8D7B0;
}
.nav-header li{
	list-style: none;
	margin: 5px;
	padding: 5px;

}
.logo-heder{
	padding: 0px;
	margin: 45px;
}
.nav-header li a img{
	width: 25px;
	height: 25px;
}
